
{% extends 'base.html' %}
{% block body %}
<main class="page landing-page">
    <section class="clean-block clean-hero" style="color: rgba(0,0,0,0.85);background: #232931;">
        <div class="text">
            <h2 class="pulse animated infinite">Melodic</h2>
            <p>You new way to listen to music!</p>
        </div>
    </section>
    <section class="clean-block features" style="background: #393e46;">
        <div class="container">
            <div class="block-heading">
                <h2 style="color: rgb(255,255,255);">Features</h2>
                <p style="color: rgb(255,255,255);">Look at these great features!</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5 feature-box"><i class="icon-music-tone-alt icon" style="color: #4ecca3;"></i>
                    <h4 style="color: rgb(255,255,255);">Music</h4>
                    <p style="color: rgb(255,255,255);">Great music everywhere</p>
                </div>
                <div class="col-md-5 feature-box"><i class="icon-microphone icon" style="color: #4ecca3;"></i>
                    <h4 style="color: rgb(255,255,255);">Podcasts</h4>
                    <p style="color: rgb(255,255,255);">Great podcasts everywhere</p>
                </div>
                <div class="col-md-5 feature-box"><i class="icon-screen-smartphone icon" style="color: #4ecca3;"></i>
                    <h4 style="color: rgb(255,255,255);">Responsive design</h4>
                    <p style="color: rgb(255,255,255);">You can open it in mobile and it's will be great!</p>
                </div>
                <div class="col-md-5 feature-box"><i class="icon-refresh icon" style="color: #4ecca3;"></i>
                    <h4 style="color: rgb(255,255,255);">Daily Music Upload</h4>
                    <p style="color: rgb(255,255,255);">New taste of music every day!</p>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}

