
{% extends 'base.html' %}
{% block body %}
<div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url(static/1.jpg);"></div>
<div class="uk-grid-column-small uk-grid-row-large uk-align-center uk-text-center" uk-grid>
    <h1>Melodic</h1>
    <h2>Your new way to listen to music</h2>

    <div class="uk-column-1-2">
        <span class="bi bi-music-note" style="font-size: 2.5rem; color: black;"></span>
        <h1>Music</h1>
        <p>Great music everywhere</p>

        <span class="bi bi-mic-fill" style="font-size: 2.5rem; color: black;"></span>
        <h1>Podcasts</h1>
        <p>Great podcasts everywhere</p>

        <span class="bi bi-align-center" style="font-size: 2.5rem; color: black;"></span>
        <h1>Responsive design</h1>
        <p>You can open it in mobile and it's will be great!</p>

        <span class="bi bi-cloud-plus" style="font-size: 2.5rem; color: black;"></span>
        <h1>Daily Music Upload</h1>
        <p>New taste of music every day!</p>
    </div>
</div>
{% endblock %}

