{% extends 'base.html' %}
{% block body %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
          <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
        {% endfor %}
    {% endif %}
{% endwith %}

 <main class="page blog-post-list">
	<section class="clean-block clean-blog-list dark" style="background: #393e46;">
		<div class="container">
			<div class="block-heading">
				<h2 style="color: #4ecca3;">Create a playlist</h2>
				<p style="color: #4ecca3;">Choose what songs you want to add to your playlist</p>
			</div>

			<div class="text-center">
				<h1 style="color: rgb(255,255,255);">Search songs to add</h1>

				<form method="GET">
					<input type="search" style="background: #ffffff;border-style: none;border-radius: 6px;width: 294px;height: 34px;margin: 21px;text-align: center;" placeholder="Search songs"  name="q">
					<button>Search</button>
				</form>
			</div>
			<div class="shadow-lg block-content" style="background: #232931;">
				<div class="col">
					{% for song in songs %}

					<div class="card">
						<div class="card-body">
							<h4 class="card-title">{{ song.name }} </h4>
							<h6 class="text-muted card-subtitle mb-2">{{ song.artist_name }} <button type="button" class="btn btn-secondary btn-lg float-right">+ Add </button>  </h6>
							<p class="card-text"></p><label for="genre">{{ song.genre }}</label>
						</div>
					</div>
					
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
</main>

{% endblock %}

