{% extends 'base.html' %}
{% block body %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
          <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
        {% endfor %}
    {% endif %}
{% endwith %}


        <main class="page login-page">
            <section class="clean-block clean-form dark" style="background: #232931;">
                <div class="container">
                    <div class="block-heading">
                        <h2 class="text-white">Make a playlist</h2>
                        <p class="text-white">Choose songs you want to add in your playlist!</p>
                    </div>
                </div>
            </section>
        </main>

{% endblock %}
