{% extends 'base.html' %}
{% block body %}

<div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url(static/1.jpg);"></div>
<div class="uk-grid-column-small uk-grid-row-large uk-align-center uk-text-center uk-flex-center" uk-grid>
    <h1 class="uk-heading-medium"> {{error}} </h1>
</div>

{% for song in songs %}
	<article class="uk-article">
		<div class="uk-container">
			<h1 uk-article-title>{{ song.name }}</h1>
			<p>Author: {{ song.artist_name }}</p> 
			<p>Genre: {{ song.genre }}</p>
		</div>
	</article>
{% endfor %}


{% endblock %}
