{% extends 'base.html' %}
{% block body %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
          <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
        {% endfor %}
    {% endif %}
{% endwith %}


        <main class="page make-playlist-page">
            <section class="clean-block clean-form dark" style="background: #232931;">
                <div class="container">
                    <div class="block-heading">
                        <h2 class="text-white">Enter a name for your playlist</h2>
                    </div>
                    
                    <form class="shadow-lg" method="POST">
		            <div class="form-group">
		                <label for="email">Playlist Name</label>
		                <input class="form-control item" type="playlist" name="playlist" id="playlist" required="">
		            </div>
		            <button class="btn btn-light btn-block" type="submit" style="color: #000000;">Confirm</button>

                </form>
                    
                </div>
            </section>
        </main>

{% endblock %}
