{% extends 'base.html' %}
{% block body %}
<main class="page blog-post-list">
	<section class="clean-block clean-blog-list dark" style="background: #393e46;">
		<div class="container">
			<div class="block-heading">
				<h2 style="color: #4ecca3;">Browse the music ulpoaded by you</h2>
				<p style="color: #4ecca3;">Edit or delete songs</p>
			</div>

			<div class="shadow-lg block-content" style="background: #232931;">
				<div class="col">
					{% for s in my_songs %}

					<div class="card">
						<div class="card-body">
							<h4 class="card-title">{{ s.name }}</h4>
							<h6 class="text-muted card-subtitle mb-2">{{ s.artist_name }}</h6>
							<p class="card-text"></p><label for="genre">{{ s.genre }}</label>
							<form action="{{ url_for('delete_song', song_id = s.id) }}" method='POST'>
								<a class="float-right btn btn-dark" href= "{{  url_for('edit_song', song_id = s.id)  }}"> Edit </a>
								<input class="btn btn-danger float-right" type="submit" value="Delete">
							</form>
						</div>
					</div>
					
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
</main>

<div id="end"></div>

{% endblock %}
