{% extends 'base.html' %}
{% block body %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
          <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
        {% endfor %}
    {% endif %}
{% endwith %}


        <main class="page login-page">
            <section class="clean-block clean-form dark" style="background: #232931;">
                <div class="container">
                    <div class="block-heading">
                        <h2 class="text-white"> Listen to {{ pl.name }}</h2>
                    </div>
                    
			{% for s in songs %}
				<div class="card">
					<div class="card-body flex-row flex-grow-1 flex-shrink-1 my-auto">
						<div class="row">
							<div class="col mx-auto">
								<h4>{{ s.name }}</h4>
							</div>
						</div>
						<h6 class="text-muted card-subtitle mb-2">{{ s.artist_name }}</h6>
						<p class="card-text">
							<label for="genre">{{ s.genre }}</label>
						</p>
					</div>
				</div>
			{% endfor %}
                    
                </div>
            </section>
        </main>

{% endblock %}
