{% extends 'base.html' %}
{% block body %}
<main class="page blog-post-list">
	<section class="clean-block clean-blog-list dark" style="background: #393e46;">
		<div class="container">
			<div class="block-heading">
				<h2 style="color: #4ecca3;">Playlists</h2>
			</div>

			<div class="text-center">
				<h2 style="color: rgb(255,255,255);">Search now with Melodic!</h2>

				<form method="GET">
					<input type="search" style="background: #ffffff;border-style: none;border-radius: 6px;width: 294px;height: 34px;margin: 21px;text-align: center;outline: none;" placeholder="Search playlists"  name="q">
					<button class="btn btn-light">Search</button>
				</form>
			</div>

			<div class="shadow-lg block-content" style="background: #232931;">
				<div class="col">
					{% for p in playlists %}

					<div class="card">
						<div class="card-body">
							<h4 class="card-title"><a href="{{ url_for('pl', pl_id = p.playlist_id) }}" style="color: black">{{ p.playlist_name }}</a></h4>
						</div>
					</div>
					
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
</main>

<div id="end"></div>
{% endblock %}
