
{% extends 'base.html' %}
{% block body %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
          <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
        {% endfor %}
    {% endif %}
{% endwith %}

    <main class="page registration-page">
        <section class="clean-block clean-form dark" style="background: #232931;">

            <div class="container">
                <div class="block-heading">
                    <h2 class="text-white">Registration</h2>
                    <p class="text-white">Melodic</p>
                </div>

                <form class="shadow-lg" method="POST">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input class="form-control item" type="text"  name="uname" id="uname" required="">
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input class="form-control item" type="password" name="passw" id="passw" required="">
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control item" type="email" name="mail" id="mail" required="">
                    </div>
                    <button class="btn btn-light btn-block" type="submit" style="color: #000000;">Sign Up</button>

                </form>
            </div>
        </section>
    </main>

{% endblock %}
