{% extends 'base.html' %}
{% block body %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
          <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
        {% endfor %}
    {% endif %}
{% endwith %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsmediatags/3.9.5/jsmediatags.min.js" integrity="sha512-YsR46MmyChktsyMMou+Bs74oCa/CDdwft7rJ5wlnmDzMj1mzqncsfJamEEf99Nk7IB0JpTMo5hS8rxB49FUktQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsmediatags/3.9.5/jsmediatags.js" integrity="sha512-fCU+rmH3nS/RJaTSl/ylo/PxwWIZwJts3rfxRylSPqGYMJGPLXvPJGOTF+ECb0K5m9rSXbkCNg2PR7WKGWRTVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <main class="page login-page">
            <section class="clean-block clean-form dark" style="background: #232931;">
                <div class="container">
                    <div class="block-heading">
                        <h2 class="text-white">Upload a song</h2>
                        <p class="text-white">Upload a song to Melodic!</p>
                    </div>

                    <form method="POST" enctype="multipart/form-data">
                        <input class="form-control-file" type="file" accept="audio/*" id="file-selector" name="file" required="">

                        <!-- scipt for getting metadata of a file --->

                        <script>
                            var jsmediatags = window.jsmediatags;
                            var artistNameTag;
                            var songNameTag;

                            const music = document.getElementById('file-selector');
                            music.addEventListener('change', (event) =>
                            {
                                var file = event.target.files[0];
                                jsmediatags.read(file,
                                {
                                    onSuccess: function(tag)
                                    {
                                        songNameTag = "" + tag['tags']['TIT2']['data'];
                                        artistNameTag = "" + tag['tags']['TPE2']['data'];
                                        console.log(songNameTag);
                                        console.log(artistNameTag);
                                    }
                                });
                            });

                        </script>

                        <div class="form-group">
                            <label>Name</label>
                            <div class="form-control" style="border: 0px;">
                                {{form.SongName}} 
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Artist</label>
                            <div class="form-control" style="border: 0px;">
                                {{form.Artist}} 
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Genre</label>
                            <div class="form-control" style="border: 0px;">
                                {{form.Genre}}
                            </div>
                        </div>

			            <input class="btn btn-light btn-block" type=submit value=Upload>
                        <!-- <button class="btn btn-light btn-block" type="button">Upload</button> -->
                    </form>
                </div>
            </section>
        </main>

{% endblock %}
